:root {
  --wwwchanelcomnero: rgba(255, 255, 255, 1);
  --wwwchanelcomblack: rgba(0, 0, 0, 1);
  --wwwchanelcomcod-gray: rgba(29, 29, 29, 1);
  --wwwchanelcomalto: rgba(216, 216, 216, 1);
  --wwwchanelcomalabaster: rgba(249, 249, 249, 1);
  --wwwchanelcomboulder: rgba(118, 118, 118, 1);
  --wwwchanelcommine-shaft: rgba(51, 51, 51, 1);
  --www-chanel-com-inter-semi-bold-40-font-family: "Inter", Helvetica;
  --www-chanel-com-inter-semi-bold-40-font-weight: 600;
  --www-chanel-com-inter-semi-bold-40-font-size: 40px;
  --www-chanel-com-inter-semi-bold-40-letter-spacing: 0.10000000149011612px;
  --www-chanel-com-inter-semi-bold-40-line-height: 45px;
  --www-chanel-com-inter-semi-bold-40-font-style: normal;
  --www-chanel-com-inter-semi-bold-12-font-family: "Inter", Helvetica;
  --www-chanel-com-inter-semi-bold-12-font-weight: 600;
  --www-chanel-com-inter-semi-bold-12-font-size: 12px;
  --www-chanel-com-inter-semi-bold-12-letter-spacing: 0.10000000149011612px;
  --www-chanel-com-inter-semi-bold-12-line-height: 16px;
  --www-chanel-com-inter-semi-bold-12-font-style: normal;
  --www-chanel-com-inter-light-12-font-family: "Inter", Helvetica;
  --www-chanel-com-inter-light-12-font-weight: 300;
  --www-chanel-com-inter-light-12-font-size: 12px;
  --www-chanel-com-inter-light-12-letter-spacing: 0.10000000149011612px;
  --www-chanel-com-inter-light-12-line-height: 16px;
  --www-chanel-com-inter-light-12-font-style: normal;
  --www-chanel-com-inter-semi-bold-16-font-family: "Inter", Helvetica;
  --www-chanel-com-inter-semi-bold-16-font-weight: 600;
  --www-chanel-com-inter-semi-bold-16-font-size: 16px;
  --www-chanel-com-inter-semi-bold-16-letter-spacing: 0.10000000149011612px;
  --www-chanel-com-inter-semi-bold-16-line-height: 23px;
  --www-chanel-com-inter-semi-bold-16-font-style: normal;
  --www-chanel-com-inter-semi-bold-30-font-family: "Inter", Helvetica;
  --www-chanel-com-inter-semi-bold-30-font-weight: 600;
  --www-chanel-com-inter-semi-bold-30-font-size: 30px;
  --www-chanel-com-inter-semi-bold-30-letter-spacing: 0.10000000149011612px;
  --www-chanel-com-inter-semi-bold-30-line-height: 36px;
  --www-chanel-com-inter-semi-bold-30-font-style: normal;
  --www-chanel-com-inter-semi-bold-11-font-family: "Inter", Helvetica;
  --www-chanel-com-inter-semi-bold-11-font-weight: 600;
  --www-chanel-com-inter-semi-bold-11-font-size: 11px;
  --www-chanel-com-inter-semi-bold-11-letter-spacing: 0.10000000149011612px;
  --www-chanel-com-inter-semi-bold-11-line-height: 14px;
  --www-chanel-com-inter-semi-bold-11-font-style: normal;
  --www-chanel-com-inter-semi-bold-20-font-family: "Inter", Helvetica;
  --www-chanel-com-inter-semi-bold-20-font-weight: 600;
  --www-chanel-com-inter-semi-bold-20-font-size: 20px;
  --www-chanel-com-inter-semi-bold-20-letter-spacing: 0.10000000149011612px;
  --www-chanel-com-inter-semi-bold-20-line-height: 26px;
  --www-chanel-com-inter-semi-bold-20-font-style: normal;
  --www-chanel-com-inter-light-13-13-font-family: "Inter", Helvetica;
  --www-chanel-com-inter-light-13-13-font-weight: 300;
  --www-chanel-com-inter-light-13-13-font-size: 13.125px;
  --www-chanel-com-inter-light-13-13-letter-spacing: 0.10000000149011612px;
  --www-chanel-com-inter-light-13-13-line-height: 18px;
  --www-chanel-com-inter-light-13-13-font-style: normal;
}
